.navbar{
    height: 90px;
    margin: 40px;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: white;
    z-index: 5;
    width: 85%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}

form{
    background-color: white;
    border-radius: 20px;
}
.navbar-nav{
    padding-left: 30px;
}
h1{
  font-family: "Playfair Display",serif;
  font-size: 60px !important;
  font-weight: 700;
  font-style: italic;
}
h6{
    color: #fff;
    font-size: 16px !important;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.bg{
    margin-top: -200px;
    padding: 400px 0 350px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.welcome-text .welcome{
    font-family: "Playfair Display",serif;
}
h3 {
    color: #131230;
    font-family: "Playfair Display",serif;
    font-size: 36px !important;
    font-weight: 700;
}
.btn{
    padding: 8px;
    background-color: rgb(248, 147, 75);
}
.btn {
    color:#131230;
    background:#ffb606;
    text-decoration: none;
    font-weight:500;
    font-size:14px;
    border:1px solid transparent;
    font-family:"Roboto",sans-serif;
    text-transform:uppercase;
    padding:12px 30px !important;
  }
.btn:hover {
    background:transparent;
    color:#131230;
    border:1px solid #ffb606;
}
.food .content{
    padding: 25px;
    background-color: #f1efef;
}
.food .content h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.food .food-img img:hover{
    width: 640px;
}
.food .content:hover{
    padding: 25px;
    background-color: #f3d48a;
}
.reservation {
    background-image: url(bg\ 2.jpg);
    padding: 210px 0 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}
.container h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.row .text{
    margin-left: 30px;
}
.row .text p{
    margin-right: 90px;
}
.row .image img{
    margin-left: 30px;
}
.row .text a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.testimonial{
  background-image: url(bg\ 3.jpg);
  padding: 210px 0 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer{
    background-color: #0a2149;
}
